

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}
body {
    /* margin: 0; */
    font-family: 'Poppins', sans-serif;
    /* background: linear-gradient(-45deg, #f2a4f6, #dbbcec, #de8ede, #fda2ff); */
     background: linear-gradient(135deg, #d5abf7, #dbbcec, #de8ede);
            
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

header{
 background-image: url("./cse-bg-img/headbg.jpeg"); /* your image file name */
    background-size: cover;            /* makes image cover full header */
    background-position: left;       /* keeps image centered */
    background-repeat: no-repeat;      /* prevents repeating */
                       /* give header height */
   

    text-align:center ;
    
    font-size: 15px;
    font-weight: bold;
   
    margin:0;
    letter-spacing:1px;
   
    color: #330e43;
    
     position: fixed;
     top: 0%;
     width: 100%;
     padding-bottom: 20px;
     padding-top: 30px;
     text-align:left;
     padding-left: 30px;
     

}
.header-flex {
        display: flex;
        justify-content:center;
        align-items: center;
    }

.container {
    background: rgba(255, 222, 254, 0.95);
     /* background: rgba(255, 255, 255, 0.856); */
    width: 85%;
    max-width: 900px;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.2);
   margin-top: 160px;
}

.vision-mission {
    display: flex;
    gap: 30px;
    justify-content: center;
    margin-bottom: 40px;
}

.box {
    /* background: #e9defb; */
     background: rgba(255, 255, 255, 0.856);
    padding: 25px;
    border-radius: 15px;
    flex: 1;
    text-align: center;
    box-shadow: 0 8px 20px rgba(95, 44, 130, 0.2);
}

.box h2 {
    color: #5f2c82;
    margin-bottom: 10px;
}

.box p {
    font-size: 14px;
    color: #444;
}

/* HOD Section */
.hod-section {
    text-align: center;
    margin-bottom: 30px;
}

.hod-section h3 {
    color: #5f2c82;
    margin-bottom: 8px;
}

.hod-section a {
    text-decoration: none;
    font-weight: 600;
    color: #333;
}

.hod-section a:hover {
    color: #8a4fff;
}

/* Assistant Professors */
.ap-section {
    text-align: center;
}

.ap-section h3 {
    color: #5f2c82;
    margin-bottom: 10px;
}

.ap-section a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
}

.ap-section a:hover {
    color: #8a4fff;
}

.ap-section h5 {
    margin: 8px 0;
}

 .vision-mission :hover {
    transform: translateY(-2px);
    transition: 0.5s ease;

 }

 @media(max-width:768px){
            .chairman-section,
            .quote-card{
                flex-direction:column;
                text-align:center;
            }

            .signature{
                text-align:center;
            }

            .quote-text p::before{
                left:0;
            }
        }